   </div>
</div>


<footer id="footer">
  <div class="smlinks">

    <a href="https://facebook.com" class="fa fa-facebook"></a>
    <a href="https://twitter.com" class="fa fa-twitter"></a>
    <a href="https://linkedin.com" class="fa fa-linkedin"></a>
    <a href="https://instagram.com" class="fa fa-instagram"></a>
  </div>
  <div class="conclusion">
      <p>Developed by Anudeep</p>
  </div>
</footer>

  </body>
</html>
